<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11538880600-0ugdbqlfaumksev07nt2klf0aucuthnl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11538880600-0ugdbqlfaumksev07nt2klf0aucuthnl</string>
	<key>API_KEY</key>
	<string>AIzaSyBdRIYjG1tG7DfTH06XUw9QfcAqO6h103E</string>
	<key>GCM_SENDER_ID</key>
	<string>11538880600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.propy.administrador</string>
	<key>PROJECT_ID</key>
	<string>appmin-df75c</string>
	<key>STORAGE_BUCKET</key>
	<string>appmin-df75c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11538880600:ios:9c7c8e49fb5494da35122d</string>
</dict>
</plist>