<ion-header class="header">
  <ion-toolbar>
    <div class="headercontainer">
      <div class="back">
        <ion-icon name="arrow-back" class="iconoback" (click)="dismiss()"></ion-icon>
      </div>
      <div class="headertittle">
        <ion-title > </ion-title>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="todo">
    <div class="crear_comunicado">
        <h1 style="text-align:center;" class="tituloavisos">Mudanzas en {{this.proyecto}}</h1>
        <h2  class="avisos">Estas son las mudanzas registradas hasta el momento</h2>
        <!-- <div class="ver_comunicados">
          <h1 class="texto">Mascotas</h1> -->
          <ion-grid class="grid">
            <ion-col class="col">
              <ion-row class="row" *ngFor="let comunicado of comunicados">
                  <div class="card">
                    <div class="top">
                      <div class="titulo">  
                        <strong>{{ comunicado.data.nombre }}</strong>  
                      </div>
                      <!-- <div class="dia_hora">  
                        <div class="dia">
                            {{ comunicado.data.dia }}  
                        </div>
                        <div class="hora">
                          {{ comunicado.data.hora }} 
                      </div>
                      </div> -->
                  </div>
                    <div class="tema">
                     Buen dia, mi mudanza se hará el dia {{comunicado.data.fecha}} a las {{comunicado.data.hora}}
                    </div>
                    <div class="reporte">
                      Apto: {{comunicado.data.torre}} - {{comunicado.data.apto}}
                  </div>
                     <!-- <ion-icon class="trash-icon" (click)="delete(comunicado.id)" name="trash-outline"></ion-icon> -->
                </div>
              </ion-row>
            </ion-col>
          </ion-grid>


    </div>
    
</div>
</ion-content>
