<ion-header class="header">
  <ion-toolbar>
    <div class="headercontainer">
      <div class="back">
        <ion-icon name="arrow-back" class="iconoback" (click)="dismiss()"></ion-icon>
      </div>
      <div class="headertittle">
        Usuarios 
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="todo">
    <div class="ver_comunicados">
            <h1 class="texto">Usuarios del Edificio {{this.proyecto}}</h1>
            <ion-grid class="grid">
              <ion-col class="col">
                <ion-row class="row" *ngFor="let usuario of usuarios">
                    <div class="card" [class.blur]="!usuario.data.habilitado">
                      <div class="top">
                        <div class="titulo"> 
                          <button class="habil_button" *ngIf="!usuario.data.habilitado" (click)="habilitar(usuario.id,usuario.data.habilitado)">
                            <label >Habilitar</label>
                          </button>
                          <button class="deshabil_button" *ngIf="usuario.data.habilitado" (click)="habilitar(usuario.id,usuario.data.habilitado)">
                            <label>Inhabilitar</label>
                          </button> 
                                                  
                        </div>
                        
                        <div class="dia_hora">  
                         <div *ngIf="usuario.data.habilitado" class="dia" >
                             <h3 style="color: green;font-size: 10px;">Habilitado</h3>  
                          </div>
                          <div *ngIf="!usuario.data.habilitado" class="hora">
                            <h3 style="color: red;font-size: 10px;">Deshabilitado</h3>
                        </div>
                        </div>
                    </div>
                       
                    <div class="reporte">
                      <strong>{{ usuario.id }}</strong>
                    </div>
                     <ion-label class="plain_text">Torre y apartamento (Bloque,Interior,etc):</ion-label>
                      <div class="tema">                      
                          <ion-item class="input" lines="none" mode="ios">
                            <ion-label position="floating">Torre</ion-label>
                            <ion-input type="text" id="torre" placeholder="Torre B" [(ngModel)]="usuario.data.torre"></ion-input>
                          </ion-item>

                          <ion-item class="input" lines="none" mode="ios">
                            <ion-label position="floating">Apto</ion-label>
                            <ion-input type="text" id="apto" placeholder="307" [(ngModel)]="usuario.data.apto" ></ion-input>
                          </ion-item>
                          
                        <!-- Torre: {{usuario.data.torre }} - Apto: {{usuario.data.apto }} 
                        <ion-icon name="create-outline"></ion-icon> -->
                      </div>
                      <div class="reporte">
                      <button class="save" (click)="save_user_apto(usuario.id,usuario.data.torre,usuario.data.apto)">
                        <label>Guardar</label>
                      </button>
                      <!-- <ion-button>
                        <label>Inhabilitar</label>
                      </ion-button> -->
                    </div>
                       <!-- <ion-icon class="trash-icon" (click)="delete(usuario.id)" name="trash-outline"></ion-icon> -->
                       <!-- <ion-icon name="create-outline"></ion-icon> -->
                  </div>
                </ion-row>
              </ion-col>
            </ion-grid>
    </div> 
</div>
</ion-content>
