<ion-header class="header">
  <ion-toolbar>
    <div class="headercontainer">
      <div class="back">
        <ion-icon name="arrow-back" class="iconoback" (click)="back()"></ion-icon>
      </div>
  <div class="headertittle">
    <ion-title > {{puerta}} </ion-title>
  </div>
  <!-- <div class="headericon">
     <ion-icon class="icono"  name="person-circle-outline" (click)="this.getLocation()"></ion-icon>
    </div> -->
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!-- <div class="botones">
  <button class="bot" (click)="back()"> Volver </button>
   <button class="bot" (click)="consultarviajes()"> Ver viajes </button> 
  </div>-->

  <div class="container">
    <label class="etiqueta">Movimientos el Dia: {{ this.dia}}</label>
  </div>

  <div class="row_header">
    <div class="colid">Nombre</div>
    <div class="colfecha">Hora</div>
    <div class="colsalida">Torre</div>
    <div class="colentrada">Apto</div>
  </div>

  <div class="row" *ngFor="let viajes of arrayColeccionTareas">
    <div class="colids">{{viajes.data.nombre}}</div>
    <div class="colfechas">{{viajes.data.hora}}</div>
    <div class="colsalidas">{{viajes.data.torre}}</div>
    <div class="colentradas">{{viajes.data.apto}}</div>
  </div>

</ion-content>