<ion-header class="header">
  <ion-toolbar>
  <div class="headercontainer">
    <div class="back">
      <ion-icon name="arrow-back" class="iconoback" (click)="dismiss()"></ion-icon>
    </div>
    <div class="headertittle">
      <ion-title > Autorizaciónes </ion-title>
    </div>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="todo">
    <div class="ver_comunicados">
      <h1 class="texto">Autorizaciones 

      </h1>
      <ion-grid class="grid">
        <ion-col class="col">
          <ion-row class="row" *ngFor="let comunicado of numeros">
              <div class="card">
                <div class="top">
                  <div class="titulo">  
                    <strong>{{ comunicado.data.nombre }}</strong>  
                  </div>
                  <div class="dia_hora">  
                    <div class="dia">
                        {{ comunicado.data.dia }}  
                    </div>
                    <div class="hora">
                      {{ comunicado.data.hora }} 
                  </div>
                  </div>
              </div>
                <div class="tema">
                  {{comunicado.data.apto}}
                </div>
                <div class="reporte">
                  {{comunicado.data.reporte}}
              </div>
                 <!-- <ion-icon slot="end" class="trash-icon" (click)="delete(comunicado.id)" name="trash-outline"></ion-icon> -->
            </div>
          </ion-row>
        </ion-col>
      </ion-grid>
</div> 
</div>
</ion-content>
